
h4 {
    text-align: center;
    text-decoration: underline;
}
.selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40rem;
    height: 50rem;
    margin: 5rem;
    padding: 1rem;
    background-color: white;
    border-radius: 2rem;
    font-size: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.selection-recherche {
    margin-bottom: 2rem;
    margin: 0 auto;
    
}

.input-recherche {
    margin-top: 2rem ;
    text-align: center;
    border-radius: 20px;
    height: 2.5rem;
    width: 30rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.input {
    margin-right: 2rem;
    margin-left: 8rem;
}

.inputLabel {
    margin: 1rem 0;
}