/*----------------------------------
        CSS Coralie
----------------------------------*/




/*----------------------------------
        Fin CSS Coralie
----------------------------------*/

/*----------------------------------
        CSS Maxime
----------------------------------*/




/*----------------------------------
        Fin CSS Maxime
----------------------------------*/

/*----------------------------------
        CSS Guilhem
----------------------------------*/
.selectionAndMap {
        display: flex;
        align-items: center;
        justify-content: space-between;
}



/*----------------------------------
        Fin CSS Guilhem
----------------------------------*/


/*----------------------------------
        CSS Lucas
----------------------------------*/




/*----------------------------------
        Fin CSS Lucas
----------------------------------*/