/*----------------------------------
        CSS Coralie
----------------------------------*/




/*----------------------------------
        Fin CSS Coralie
----------------------------------*/

/*----------------------------------
        CSS Maxime
----------------------------------*/




/*----------------------------------
        Fin CSS Maxime
----------------------------------*/

/*----------------------------------
        CSS Guilhem
----------------------------------*/
.selectionAndMap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
}


@media screen and (min-width:1024px) {
        .selectionAndMap {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
        }
}




/*----------------------------------
        Fin CSS Guilhem
----------------------------------*/


/*----------------------------------
        CSS Lucas
----------------------------------*/




/*----------------------------------
        Fin CSS Lucas
----------------------------------*/