/*----------------------------------
        CSS Coralie
----------------------------------*/




/*----------------------------------
        Fin CSS Coralie
----------------------------------*/

/*----------------------------------
        CSS Maxime
----------------------------------*/




/*----------------------------------
        Fin CSS Maxime
----------------------------------*/

/*----------------------------------
        CSS Guilhem
----------------------------------*/
.selectionAndMap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
}


@media screen and (min-width:900px) {
        .selectionAndMap {
                display: flex;
                align-items: left;
                justify-content: flex-start;
        }
}




/*----------------------------------
        Fin CSS Guilhem
----------------------------------*/


/*----------------------------------
        CSS Lucas
----------------------------------*/




/*----------------------------------
        Fin CSS Lucas
----------------------------------*/