
.restaurant-titre {
  font-size: 3rem;
  margin: 20px auto;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 20rem;
  height: 4rem;  
  padding-top: 15px;
  border-radius: 0 0 3rem 3rem;
}

.restaurant-titre:hover {
  background-color:#0AA2FF;
}

.carte-favoris {
  width: 90%;
  height: 6rem;
  border: none;
  border-radius: 3rem;
  margin: 0 auto;
  background-image: url("restaurant.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}