/*                                MOBILE FIRST                               */

h2{
  text-align: center;
  margin-top: 58px;
}

.avis{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px; 
}

.photo {
    border-radius: 100px;
    width: 20%;
    filter:drop-shadow(2px 4px 4px #030303);
    margin-bottom: 20px;
  }

.avis1, .avis2, .avis3, .avis4{
    text-align: center;
    margin-top: 20px;
    padding-top: 5px;
    font-style: italic;
    width: 100%;
    margin-bottom: 20px;
}
/*                               DESKTOP                               */

@media screen and (min-width:800px) {
  .carte-avis {
    height: auto;
  }
  
  .titre h2{
    text-align:left;
    margin-left: 40px;
    margin-top: 50px;
  }
  
 
  .avis{
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    left: 40px;
}
.avis1{
  display: flex;
  align-items: center;
  justify-content: center;  
  align-content: space-around;
  width: 35rem;
  border: 1px solid white;
  background-color: white;
  border-radius: 3rem;
  margin-right: 2%;
  box-shadow: 1px 5px 5px grey;
}
.avis2{
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 35rem;
  border: 1px solid white;
  background-color: white;
  border-radius: 3rem;
  margin-right: 2%;
  box-shadow: 1px 5px 5px grey;
}
.avis3{
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 35rem;
  border: 1px solid white;
  background-color: white;
  border-radius: 3rem;
  margin-right: 2%;
  box-shadow: 1px 5px 5px grey;
}
.avis4{
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 35rem;
  border: 1px solid white;
  background-color: white;
  border-radius: 3rem;
  margin-right: 2%;
  box-shadow: 1px 5px 5px grey;
}
.photo {
  float: left;
  padding: 5%;
}
.avis p{
  text-align: center;
  padding : 10%;
}
}