/*.buttonConnect {
    position: absolute;
    width: 295px;
    height: 54px;
    left: 1029px;
    top: 19px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: Amaranth;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
  /*.buttonCompte {
    position: absolute;
    text-align: center;
    width: 295px;
    height: 54px;
    left: 572px;
    top: 490px;
    background: linear-gradient(0deg, rgba(74, 173, 235, 0.5), rgba(74, 173, 235, 0.5)), #0AA2FF;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: Amaranth;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
}*/
  .inputButton {
    position: absolute;
    width: 200px;
    height: 50px;
    margin: auto;
    top: 620px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: Amaranth;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 999;
  }

@media screen and (min-width:800px) {

  .inputButton {
    position: absolute;
    width: 250px;
    height: 50px;
    margin-right: 100px;
    top: 19px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: Amaranth;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    z-index: 999;
}}

