

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.7rem;
}

p {
    font-size: 1rem;
}

a {
    color: black;
    text-decoration: underline;
}

.footer {
    background-color: white;
    height: 32rem;
    margin: 0 auto;
}

.footer-haut {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.footer-reseaux {
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    width: 15rem;

}

.footer-logo {
    width: 3rem;
}

.footer-meteo {
    width: 20rem;
    height: 10rem;
    background: linear-gradient(to bottom right, #4AADEB, #0AA2FF);
    display: flex;
    justify-content: space-around;
    margin: 0;
    align-items: center;
    border-radius: 1rem;
    color: white;

}

.footer-image-meteo {
    width: 4rem;
    height: auto;
}

.footer-bas {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 2rem auto;
}

.footer-copyright {
    margin: 2rem;
    color: lightgray;
    font-style: italic;
    font-size: 0.6rem;
}


@media screen and (min-width: 800px){

    .footer {
        height: 20rem;
    }

    .footer-haut {
        text-align: center;
        display: flex;
        flex-direction: row;
        align-content: space-between;
        align-items: center;
        padding: 2rem;
        
    }

    .footer-mention {
        width: 30rem;
        display: flex;
        justify-content: space-around;
    }

    .footer-bas {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}
    
