@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%; /* permet de donner la valeur de 10px à 1rem */
}

body {
    background-color: #E5E5E5;
}

h1,
h2,
h3 {
    font-family: 'Amaranth', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 5rem;
}

h2{
    font-weight: 400;
    font-size: 3rem;
}

h3 {
    font-weight: 400;
    font-size: 2rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}
