.googlemap {
  height: 80vh;
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: right;
}
 @media screen and (max-width: 400px) {
  .googlemap {
    margin: 15rem auto;
  }
} 

@media screen and (min-width : 1300px) {

.googlemap {
    height: 80vh;
    width: 100%;
    margin: 10rem 3rem 5rem auto;
    display: flex;
    justify-content: right;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

.markernothover {
  z-index: 0;
  position: absolute;
}

.marker:hover {
  transform: scale(1.5);
  cursor: pointer;
  padding-bottom: 10px;
  z-index: 9999;
  transition: 0.1s;
}
/* Popup style */


.box {
  position: relative;
  width: 300px;
  margin-top: -100px;
  margin-left: -180px;
  height: auto;
  max-height: 70vh;
  background: black;
  color: white  ;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  text-align: justify;
}


}